* {
  margin: 0; padding: 0;
  background: #fff;
}

body {
  height: 100vh;
  background: transparent no-repeat center;
  background-image: url(./bg-clear.jpg);
  background-size: cover;
}

img#petal {
  min-width: 300px;
  max-width: 1100px;
  width: 60%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  will-change: transform;
  transition: transform .6s;
}

img#petal.scaled {
  transform: translate(-100%, -50%) scale(0.8);

}



.panel {
  width: 200px;
  height: 400px;
  background: #f4f4f4;
  border-radius: 4px;
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  transition: right .8s;
}

.panel.show {
  right: 0;
}